#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --primary-color: #F20C39;
  --secondary-color: #40d140;
}

.card {
  padding: 2em;
}

.block {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin: 1em;
  padding: 1.5em;
  border: 1px solid var(--primary-color);
}

.pfp {
  width: 7.5em;
  height: 7.5em;
  margin: 1em;
  display: inline-block;
  background-image: url('/pfp.png');
  background-size: cover;
  background-position: center;
  position:relative;
  border-radius: 50%;
  animation: rotate 2s ease;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pfp:hover {
  animation: rotate 2s ease infinite;
}

/* make pepe cover the screen */
#pepe {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}